<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="cart_price_rules" xsi:type="object">Aws\MigrationDataProcessor\Console\Command\CartPriceRule</item>
                <item name="gift_accounts" xsi:type="object">Aws\MigrationDataProcessor\Console\Command\GiftAccounts</item>
                <item name="customer_accounts" xsi:type="object">Aws\MigrationDataProcessor\Console\Command\Customers</item>
                <item name="orders_import" xsi:type="object">Aws\MigrationDataProcessor\Console\Command\Orders</item>
            </argument>
        </arguments>
    </type>
</config>
